@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="greeting" class="display-4" onmousover="">Hello</h1><br />
    <p>How to do Everything</p>
    <div class="text-center">
        <p><button onclick="myMove()">Click</button></p>
    </div>
    <div id="Container" >
        <div id="Animation"></div>
            <iframe width="640" height="440"src="https://www.youtube.com/embed/4cfbvM-TFjY" title="Jim Rohn - FOCUS ON ONE THING (Jim Rohn Motivation)"></iframe>
    </div>
</div>
